iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 82.5%;
}

.iframe-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 50px;
}

.bottom-wrapper {
    position: fixed;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
}

h2 {
    color: #c30000;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}

@media screen and (max-width: 760px) {
    .iframe-wrapper {
        bottom: 20%;
    }
}

@media screen and (max-width: 300px) {
    .bottom-wrapper {
        display: none;
    }
}
